@import "../variables.scss";

.start__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
      @media screen and (max-width: $mobile) {
            flex-direction: column;   
        }
  .photos__wrapper {
    .group {
      max-width: 729px;
      width: 100%;
      max-height: 690px;
      height: 100%;
    }
    .heart__wrapper {
      position: relative;
      margin-left: 194px;
        .heart {
          position: absolute;
          top: 42%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    }
  }
  .text__wrapper {
    flex-basis: 483px;
        @media screen and (max-width: $mobile) {
            margin-top: 20px;
          }
    h1 {
      font-size: 77px;
      line-height: 110.02%;
      letter-spacing: -0.05em;
      color: #ffffff;
      background: linear-gradient(145.08deg, #E61726 12.35%, #D4208C 83.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .text__list {
      margin-top: 52px;
      font-size: 38px;
      line-height: 52px;
      letter-spacing: -0.05em;
      color: #3A3A3A;
      .text__list-item {
        margin-bottom: 30px;
      .number {
        font-weight: 800;
        font-size: 55px;
        line-height: 75px;
        letter-spacing: -0.05em;
        color: #ffffff;
        background: linear-gradient(145.08deg, #E61726 12.35%, #D4208C 83.63%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-right: 20px;
      }
      .button {
        width: 387px;
        height: 81px;
        letter-spacing: 0.03em;
        @include btn;
      }
      }
      .text__list-item-button {
        display: flex;
        align-items: center;
      }
    }
  }
   @media screen and (max-width: $medium) {
     .text__wrapper {
       h1 {
         font-size: 50px;
       }
       .text__list {
        font-size: 30px;
        .text__list-item {
        .number {
          font-size: 40px;
            line-height: 40px;
        }
        .button {
          width: 330px;
          height: 70px;
        }
        }
       }
     }
   }       
}